<html>
    <head>
<meta charset="UTF-8">
<script src="jquery.min.js"></script>
	<script src="w3data.js"></script>
  <script src="moment.min.js"></script>
  <script src="angular.min.js"></script>
    </head>
    <body >
	<div ng-app="myApp">	
<div  ng-controller="formCtrl3">
<div ng-include="'b3.html'"></div>	
 <div class="row">
    <div class="col-md-7">
        <div class="well">
            <form>
						<div class="form-group">
							<div ng-repeat="n in headers | filter:{show:1}">
							{{n.header}}:<input  ng-style="n.style"  type="text" ng-model="tbl[n.column]">
							</div>
						</div>
					</form>
					<button type="button" ng-click="saveTbl()" class="0801 btn btn-primary">Crear</button>
					<button type="button" ng-click="updateTbl()" class="0802 btn btn-success">Actualizar</button>
										<button type="button" ng-click="refreshTbls2()" class="0807 btn btn-success">Listar pendientes de verificación</button>
					
					<table class="table">
						<thead  ><td ng-repeat="n in headers">{{n.header}}
						<input size="1" type="text" ng-model="filters[n.column]" placeholder={{n.header}}></td></thead>
						<tr ng-repeat="a in tbl8s | filter:{id:filters.id}:identical | filter:{str1:filters.str1} | filter:{ent1:filters.ent1} | filter:{ent2:filters.ent2}:identical 
						|  filter:{ent3:filters.ent3}:identical |  filter:{tbl1s_id:filters.tbl1s_id}:identical">
						<!-- <td>{{ a.id }}</td><td>{{ a.str1 }}</td>	<td>{{ a.ent1 }}</td><td>{{ a.ent2 }}</td><td>{{ a.ent3 }}</td><td>{{ a.tbl1s_id }}</td><td>{{ a.tbl3s_ent1 }}</td>    -->
						<td ng-repeat="x in headers"><div >{{a[x.column]}}</div></td>	
							<td><button ng-click="select(a)" type="button" class="0806 w3-button w3-ripple w3-red"> <span class="glyphicon glyphicon-ok"></span>Seleccionar</button>
							<button ng-click="deleteTbl(a)" type="button" class="0804 w3-button w3-ripple w3-red"> <span class="glyphicon glyphicon-remove"></span>Eliminar</button></td>
							<td><button ng-click="revert(a)" type="button" class="0805 w3-button w3-ripple w3-red"> <span class="glyphicon glyphicon-remove"></span>Eliminar y &#x00A; regresar a  &#x00A; origen</button>
							</td>
						<td><button ng-click="verify(a)" type="button" class="w3-button w3-ripple w3-red 0808"> <span class="glyphicon glyphicon-remove"></span>Verificar</button></td>
						<td><button ng-click="undo_verify(a)" type="button" class="w3-button w3-ripple w3-red 0809"> <span class="glyphicon glyphicon-remove"></span>Regresar a pendiente de verificación</button></td>
						</tr>
					</table>
        </div>
    </div>  
    <div class="col-md-5">  
        <div class="row">
            <div class="col-md-12">
                <div class="well">
					Seleccionar Origen: <input type="checkbox" ng-model="myVar">
					Seleccionar Destino: <input type="checkbox" ng-model="myVar2">
					Seleccionar Caja: <input type="checkbox" ng-model="myVar3">					
							<div ng-hide="!myVar">
						<input type="text" ng-model="tbl1_id" placeholder="ID">
						<input type="text" ng-model="tbl1_str1" placeholder="Sabor">					
					<table border="3">
					
						<thead><td>ID</td><td>Origen</td></thead>
						<tr ng-repeat="a in tbl2s | filter:{id:tbl1_id}:identical | filter:{str1:tbl1_str1} ">
							<td>{{ a.id }}</td><td>{{ a.str1 }}</td>
							<td><button ng-click="selectTbl1(a)" type="button" class="btn btn-warning"> <span class="glyphicon glyphicon-ok"></span></button></td>
						</tr>
					</table>
							</div>
							<div ng-hide="!myVar2">
							<input type="text" ng-model="tbl2_id" placeholder="ID">
						<input type="text" ng-model="tbl2_str1" placeholder="Ubicación">					
					<table border="3">
						<thead><td>ID</td><td>Destino</td></thead>
						<tr ng-repeat="a in tbl2s | filter:{id:tbl2_id}:identical | filter:{str1:tbl2_str1} ">
							<td>{{ a.id }}</td><td>{{ a.str1 }}</td>
							<td><button ng-click="selectTbl2(a)" type="button" class="btn btn-warning"> <span class="glyphicon glyphicon-ok"></span></button></td>
						</tr>
					</table>
							</div>
							<div ng-hide="!myVar3">
						<input type="text" ng-model="tbl3_id" placeholder="ID">
						<input type="text" ng-model="tbl3_tbl1Id" placeholder="Sabor">
						<input type="text" ng-model="tbl3_tbl2Id" placeholder="Destino">
						<input type="text" ng-model="tbl3_ent1" placeholder="Peso">					
					<table border="3">
					
						<thead><td>ID</td><td>Sabor</td><td>Ubicacion</td><td>Peso</td></thead>
						<tr ng-repeat="a in tbl3s | filter:{id:tbl3_id}:identical | filter:{tbl1Id:tbl3_tbl1Id}:identical | filter:{tbl2Id:tbl3_tbl2Id}:identical 
						| filter:{ent1:tbl3_ent1} ">
							<td>{{ a.id }}</td><td>{{ a.tbl1Id }}</td><td>{{ a.tbl2Id }}</td><td>{{ a.ent1 }}</td>
							<td><button ng-click="selectTbl3(a)" type="button" class="btn btn-warning"> <span class="glyphicon glyphicon-ok"></span></button></td>
						</tr>
					</table>
							</div>
							</div>
			</div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
               
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>
				</div>
</div>				
	     <script >
		 
		var app = angular.module('myApp', []);
		app.controller('formCtrl3', function($scope,$http) {
		$scope.permiso = "08";
		$scope.title = "Traslados";
//refresh refreshTblws		
		$scope.refreshTbl2s = function() {
			$scope.tbl2s = [];
			$http.get("api.php/tbl2s?transform=1").then(function (response) {$scope.tbl2s = response.data.tbl2s;});
	}
	//end refreshTbl1
	
	//refresh refreshTblws		
		$scope.refreshTbl3s = function() {
			$scope.tbl3s = [];
			$http.get("api.php/tbl3s?order=id,desc").then(function (response) {
			   var data = $scope.php_crud_api_transform(response.data);
			   $scope.tbl3s = data.tbl3s;
			});
	}
	//end refreshTbl1
	
	//refresh refreshTbl1s
$scope.refreshTbl1s = function() {
			$scope.tbl1s = [];
			$http.get("api.php/tbl1s?order=id,desc").then(function (response) {
			   var data = $scope.php_crud_api_transform(response.data);
			   $scope.tbl1s = data.tbl1s;
			});
	}
//end funcion refreshTbl1s
		
		$scope.identical = function(actual, expected){
		if ( expected === ''){ return true;}
    return actual === parseInt(expected);
}



//funcion que transforma
	$scope.php_crud_api_transform = function(tables) {
	var array_flip = function (trans) {
		var key, tmp_ar = {};
		for (key in trans) {
			tmp_ar[trans[key]] = key;
		}
		return tmp_ar;
	};
	var get_objects = function (tables,table_name,where_index,match_value) {
		var objects = [];
		for (var record in tables[table_name]['records']) {
			record = tables[table_name]['records'][record];
			if (!where_index || record[where_index]==match_value) {
				var object = {};
				for (var index in tables[table_name]['columns']) {
					var column = tables[table_name]['columns'][index];
					object[column] = record[index];
					for (var relation in tables) {
						var reltable = tables[relation];
						for (var key in reltable['relations']) {
							var target = reltable['relations'][key];
							if (target == table_name+'.'+column) {
								column_indices = array_flip(reltable['columns']);
								object[relation] = get_objects(tables,relation,column_indices[key],record[index]);
							}
						}
					}
				}
				objects.push(object);
			}
		}
		return objects;
	};
	tree = {};
	for (var name in tables) {
		var table = tables[name];
		if (!table['relations']) {
			tree[name] = get_objects(tables,name);
			if (table['results']) {
				tree['_results'] = table['results'];
			}
		}
	}
	return tree;
}
//fin funcion que transforma
//inicio funcion refreshTbls
$scope.refreshTbls = function() {
			$scope.tbl8s = [];			
			$http.get("api.php/tbl8s?order=id,desc").then(function (response) {
			var data = $scope.php_crud_api_transform(response.data);
			$scope.tbl8s = data.tbl8s;
			$scope.tbl8s.forEach(function(value, index, array) {	
				var url = "api.php/tbl3s/";
				url = url.concat(value.ent3);
				$http.get(url).then(function (response) {
				value.tbl1s_id = response.data.tbl1Id;
				value.tbl3s_ent1 = response.data.ent1;
				$scope.tbl8s[index] = value;
				});				
					    
			});
			});	
			}
//Fin funcion refreshTbls

//inicio funcion refreshTbls
$scope.refreshTbls2 = function() {
			$scope.tbl8s = [];			
			$http.get("api.php/tbl8s?order=id,desc&filter[]=ent4,eq,1").then(function (response) {
			var data = $scope.php_crud_api_transform(response.data);
			$scope.tbl8s = data.tbl8s;
			$scope.tbl8s.forEach(function(value, index, array) {	
				var url = "api.php/tbl3s/";
				url = url.concat(value.ent3);
				$http.get(url).then(function (response) {
				value.tbl1s_id = response.data.tbl1Id;
				value.tbl3s_ent1 = response.data.ent1;
				$scope.tbl8s[index] = value;
				});				
					    
			});
			});	
			}
//Fin funcion refreshTbls

			
		
		$scope.headers = [{column: "id",header:"ID",show:0},{column: "str1",header:"Codigo",show:1},
{column: "ent1",header:"Origen",show:1},{column: "ent2",header:"Destino",show:1},{column: "ent3",header:"ID caja",show:1},
{column: "tbl1s_id",header:"ID Sabor",show:0},{column: "tbl3s_ent1",header:"Peso",show:0},
{column: "ent4",show:0,header:"0-Verificado 1-A verificar"}];
   $scope.filters = {};
		$scope.Tbl3 = {}; $scope.tbl3_aux = {}; 
   $scope.tbl3s = [];
			$http.get("api.php/tbl3s?filter=ent3,eq,1&order=id,desc").then(function (response) {
			   var data = $scope.php_crud_api_transform(response.data);
			   $scope.tbl3s = data.tbl3s;
			});
			$scope.tbl = {};
			$scope.tbl.str1 = moment().format('Tr-DD-MM-YY-HH-mm-ss');
			$scope.tbl.ent3 = 1;
	$scope.refreshTbls();
	$scope.refreshTbl1s();
	$scope.refreshTbl2s();
	$scope.refreshTbl3s();
	//Save tbl1s via POST
	
	$scope.updateDestino = function() {
	var data = $scope.tbl;
	var url = "api.php/tbl3s/";url = url.concat($scope.tbl.ent3);
	$scope.tbl3_aux = {};
	$scope.tbl3_aux.tbl2Id = $scope.tbl.ent2;
	$http.put(url,$scope.tbl3_aux).then(function (response) {$scope.tbl1 = {}; 
	//$scope.refreshTbls();
	});
	}	
		
	$scope.saveTbl = function() {
	console.log('TBL==');console.log($scope.tbl);console.log('==');
	  $scope.tbl.id = null ;$scope.tbl.ent4 = 1;
	var data = $scope.tbl;
	$scope.updateDestino();
	$http.post("api.php/tbl8s",data).then(function (response) {$scope.tbl1 = {}; 
	$scope.refreshTbls();
	});
	}
	//Update tbl1s via PUT
	$scope.updateTbl = function() {
	$scope.updateDestino();
	var url = "api.php/tbl8s/";url = url.concat($scope.tbl.id);
	$http.put(url,$scope.tbl).then(function (response){$scope.tbl1 = {};$scope.refreshTbls();});
	}
	//Update tbl1s via PUT
	$scope.verify = function(a) {
	var url = "api.php/tbl8s/";
	$scope.tbl = a ;
	$scope.tbl.ent4 = 0;
	url = url.concat($scope.tbl.id);
	$http.put(url,$scope.tbl).then(function (response){$scope.tbl1 = {};$scope.refreshTbl2s();});
	}
	
	
	//Update tbl1s via PUT
	$scope.undo_verify = function(a) {
	var url = "api.php/tbl8s/";
	$scope.tbl = a ;
	$scope.tbl.ent4 = 1;
	url = url.concat($scope.tbl.id);
	$http.put(url,$scope.tbl).then(function (response){$scope.tbl1 = {};$scope.refreshTbl2s();});
	}
	
	
	
	
	$scope.baja = function(a) {
	a.str2 = moment().format('C-DD-MM-YY-HH-mm-ss');
	var url = "api.php/tbl3s/";url = url.concat(a.id);
	a.ent3 = 0;
	$http.put(url,a).then(function (response){$scope.tbl1 = {};$scope.refreshTbls();});
	}
	
	$scope.select = function(a) {$scope.tbl = a;var data = $scope.tbl1;}
	$scope.selectTbl1 = function(a) {$scope.tbl.ent1 = a.id; $scope.myVar = !$scope.myVar;}
		$scope.selectTbl2 = function(a) {$scope.tbl.ent2 = a.id; $scope.myVar2 = !$scope.myVar2;}
	$scope.selectTbl3 = function(a) {$scope.tbl.ent3 = a.id; $scope.myVar3 = !$scope.myVar3;}
	$scope.deleteTbl3 = function(x1) {
		var url = "api.php/tbl3s/";url = url.concat(x1.id);
		$http.delete(url).then(function (response) {$scope.refreshTbls();});
	  	}
	$scope.deleteTbl = function(x1) {
		var url = "api.php/tbl8s/";url = url.concat(x1.id);
		$http.delete(url).then(function (response) {$scope.refreshTbls();});
	  	}
		
		
		$scope.revert = function(x1) {
		var url = "api.php/tbl3s/";url = url.concat(x1.ent3);
		$scope.tbl3_aux.tbl2Id = x1.ent1;
		$http.put(url,$scope.tbl3_aux).then(function (response) {$scope.refreshTbls();});
	  	$scope.deleteTbl(x1);		
		}
});
        </script>
		<script src="controller.js"></script>
    </body>
</html>